:root {
    --primary: #FFD700; /* Amarelo */
    --primary-010: #F9C72D; /* Amarelo mais escuro */
  
    --secondary: #C2C2C2; /* Cinza */
    --secondary-010: #A8A8A8; /* Cinza mais escuro */
  
    --white: #ffffff; /* Branco */
  
    --black: #10101a; /* Preto */
    --black-010: #333333; /* Preto mais claro */
  
    --grey: #757575; /* Cinza mais escuro */
  }